<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908453874362-f2jm6g6o1ucehcd86vs7o9r64ohvhk4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908453874362-f2jm6g6o1ucehcd86vs7o9r64ohvhk4g</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Z4n__8uuC_ixuC2i1JgxQdbcR09hGoU</string>
	<key>GCM_SENDER_ID</key>
	<string>908453874362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minihackathon</string>
	<key>PROJECT_ID</key>
	<string>jawan-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>jawan-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908453874362:ios:3381cc6b9322fa0361d083</string>
</dict>
</plist>